<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>响应式布局</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/jquery.min.js"></script>
    <script>
        var username = "<%=username%>";
        var state = "<%=state%>";
        var menu = "<%=menu%>";
        $(function () {
            if (state == 'order') {
                window.location.href = "/order/order" + menu + '?menu=' + menu;
            } else if (state == 'user') {
                window.location.href = "/user/user" + menu + '?menu=' + menu;
            } else if (state == 'other') {
                window.location.href = "/other/other" + menu + '?menu=' + menu;
            } else if (state == 'product') {
                window.location.href = "/product/product" + menu + '?menu=' + menu;
            } else if (state == 'dep') {
                window.location.href = "/dep/dep" + menu + '?menu=' + menu;
            }
        });

    </script>

<body>
</body>

</html>