<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>响应式布局</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/jquery.min.js"></script>
    <script>
        var username = "<%=username%>";
        var state = "<%=state%>";
        var menu = "<%=menu%>";
        $(function () {
            if (state == 4) {
                window.location.href = "/users/appli/ceshi" + menu + '?menu=' + menu;
            } else if (state == 3) {

            } else if (state == 2) {
                window.location.href = "/users/user/ceshi" + menu + '?menu=' + menu;
            } else if (state == 1) {
                window.location.href = "/users/other/ceshi" + menu + '?menu=' + menu;
            } else if (state == 5) {
                window.location.href = "/users/product/ceshi" + menu + '?menu=' + menu;
            } else if (state == 6) {
                window.location.href = "/users/dep/ceshi" + menu + '?menu=' + menu;
            }
        });

    </script>

<body>
</body>

</html>