<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/powers.js"></script>
    <link href="/toastr/toastr.css" rel="stylesheet" />
    <script src="/toastr/toastr.js"></script>
    <script>
        var username = "<%=username%>";
        var noOrder1;
        var noOrder2;
        $(function () {
            // 获取cookie中的用户名，然后赋值到隐藏标签中
            getUsername(username)
            $('#username').val(username)
            bindEvents();
            getEmp();
            if (role_type == 4) {
                notify(1);
                notify(2);

            }
            if (r23) {
                let str = '<tr><td><input type="button" class="canButton" value="商品管理" onclick="jump(5,1)"></td></tr>'
                    + '<tr><td><input type="button" class="canButton" value="其他管理" onclick="jump(1,1)"></td></tr>'
                    + '<tr><td><input type="button" class="canButton" value="部门管理" onclick="jump(6,1)"></td></tr>';
                $(str).appendTo($("#b tbody"));
            }
        })
        function getUsername(username) {
            $.ajax({
                url: "/users/getUser",
                type: "post",
                data: {
                    username: username,
                },
                async: false,
                dataType: "text",
                success: function (result) {
                    let name = JSON.parse(result).data[0].name;
                    $("#name").html(name);
                }
            })
        }
        function notify(order_type) {
            let num = getNoHandleOrder(order_type);
            if (order_type == 1) {
                noOrder1 = parseInt(num);
            } else if (order_type == 2) {
                noOrder2 = parseInt(num);
            }
            consoleText(num, 1)
            setInterval(function () {
                let num = getNoHandleOrder(order_type);
                if (order_type == 1) {
                    if (parseInt(num) > noOrder1) {
                        num = num - noOrder1;
                        noOrder1 = noOrder1 + num;
                        consoleText(num, 2)
                    }
                } else if (order_type == 2) {
                    if (parseInt(num) > noOrder2) {
                        num = num - noOrder2;
                        noOrder2 = noOrder2 + num;
                        consoleText(num, 2)
                    }
                }
            }, 5000000)
            function consoleText(num, data) {
                let body;
                if (data == 1) {
                    if (order_type == 1) {
                        body = '您有' + num + '个待处理的申请订单!';
                        toastr.info(body);
                    } else if (order_type == 2) {
                        body = '您有' + num + '个待处理的询值订单!';
                        toastr.info(body);
                    }
                } else if (data == 2) {
                    if (order_type == 1) {
                        body = '您有' + num + '个新申请订单';
                        toastr.info(body);
                    } else if (order_type == 2) {
                        body = '您有' + num + '个新询值订单';
                        toastr.info(body);
                    }
                }

                // if (!('Notification' in window)) {
                //     alert('你的浏览器不支持Notification')
                // }
                // //检查是否拥有通知权限；有就通知，没有请求；
                // else if (Notification.permission == 'granted') {
                //     alert(body);
                //     var options = {
                //         icon: '/images/true.jpg',
                //         body: body
                //     }
                //     var notification = new Notification('消息提醒!', options);
                // } else if (Notification.permission !== 'denied') {
                //     alert(body);
                //     Notification.requestPermission(
                //         function (permission) {
                //             if (permission == 'granted') {
                //                 var notification = new Notification('您有待处理的订单!');
                //             }
                //         }
                //     );
                // }
            }
        }
        function getNoHandleOrder(order_type) {
            let num = "";
            $.ajax({
                url: "/users/getNoHandleOrders",
                type: "post",
                data: {
                    order_type: order_type,
                    role_type: role_type,
                    userdep_id: userdep_id,
                    busoff_id: busoff_id
                },
                async: false,
                dataType: "text",
                success: function (result) {
                    num = result;
                }
            })
            return num;
        }
        // 注销用户
        function outUser() {
            window.location.href = "/users/outUser"
        }
        // state为左边的大菜单，menu为大菜单进入后的小菜单
        function jump(state, menu) {
            window.location.href = '/users/main?state=' + state + '&menu=' + menu;
        }


        // 绑定按钮的三种事件
        function bindEvents() {
            $(".canButton").each(function () {
                $(this).bind('mouseover', function () {
                    $(this).css('background', 'green')
                })
                $(this).bind('mouseout', function () {
                    $(this).css('background', '')
                })
                $(this).bind('click', function () {
                    $(this).css('color', 'purple')
                })
            })
        }
        // 鼠标放上去后，按钮背景会变色，证明可以点击
        function changeGroundGreen(t) {
            $(this).css('background', 'green')
        }
        // 鼠标点击后变为紫色
        function changeFontColor(t) {
            $(this).css('color', 'purple')
        }
        // 鼠标离开后背景变为原来的颜色
        function removeGround(t) {
            $(t).css('background', '')
        }
    </script>

<body>
    <div id="out">
        <div id="a">
            <input type="button" style="margin-left:15px;" value="用户:">
            <span id="name"></span>
            <input type="button" class="canButton" value="注销" onclick="outUser()" style="margin-left:50px;">
        </div>
        <div id="b">
            <table cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <td>系统菜单</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="button" class="canButton" value="申请管理" onclick="jump(4,1)">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" class="canButton" value="账户管理" onclick="jump(2,3)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="c">
            <iframe style="margin: 0;padding: 0;width: 89.7%;height: 100%;" src="iframe" frameborder="0"></iframe>
        </div>
    </div>
</body>

</html>