<table id="split" width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 943px;">
    <tr>
        <td width="31%">&nbsp;
            <input type="hidden" id="totalPage" />
            <input type="hidden" id="cpageNo" />
            <input type="hidden" id="pageNo" value="1" />
        </td>
        <td width="13%">共
            <input readonly style="width: 30%" type="text" id="totalNum">条记录</td>
        <td width="6%">
            <input id="fir" type="button" value="首页" onclick="firClick()" />
        </td>
        <td width="6%">
            <input id="pre" type="button" value="上一页" onclick="preClick()" />
        </td>
        <td width="6%">
            <input id="next" type="button" value="下一页" onclick="nextClick()" />
        </td>
        <td width="6%">
            <input id="last" type="button" value="末页" onclick="lastClick()" />
        </td>
        <td width="3%">
            <input type="text" id="pages" size="1" value="" />
        </td>
        <td width="6%">
            <input type="button" id="tpageNo" value="跳转" onclick="tpageNoClick()">
        </td>
        <td id="lstd" style="margin-right: 100px">当前第
            <span style="color: red;"></span>/
            <span></span>页
        </td>
    </tr>
</table>