<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>测试3页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/userceshi4.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/userceshi4.js"></script>
    <script src="/js/splitPage.js"></script>
    <script src="/js/powers.js"></script>
    <script>
        
        var username = "<%=username%>";
        var menu = "<%=menu%>";
        $(function () {
            bindEvents()
            if (menu == '4') {
                $("#li4").children().css("background", "#97C65E");
                $("#b span").attr('style', "display:none")
            }
            getEmp();
            getAllEmpName("", "", "");
            userExistHide();

            getUser6();
            printTbTr();

            $("#pageNo").val(1);
            getSplitPage();
        })
    </script>

<body>
    <!-- 储存所有用户的名字 -->
    <input type="hidden" id="allName">
    <div id="a">
        <ul>
            <li id="li3">
                <input type="button" value="修改信息" class="canButton" name="head3" onclick="jump(3)">
            </li>
        </ul>
        <!-- <input id="aid" type="text" style="right: 100px;position: absolute; width:130px;bottom:5px;">&nbsp;&nbsp;
            <span id="appli_id" style="position: absolute;right: 10px;bottom:5px;">
                <a href="javascript:void(0)" onclick="deleteTb()">ID查询</a>
            </span> -->
        <input id="orderSelect" type="button" onclick="deleteTb()" class="canButton" value="ID查询">
        <input id="aid" type="text">
    </div>
    <div id="b">
        <table id='table' width="96%" cellpadding="0" cellspacing="0">
            <tr>
                <td width="10%">姓名</td>
                <td width="17%">账户名</td>
                <!-- <td width="25%">积分变动时间</td> -->
            </tr>
        </table>
    </div>
    <!-- 分页 -->
    <%- include("./../splitPage.ejs") %>
</body>

</html>