<!-- 创建 -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>测试4页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/depceshi1.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/depCreate.js"></script>
    <script>
        
        var username = "<%=username%>";
        var menu = "<%=menu%>";
        $(function () {
            bindEvents()
            if (menu == 'Create') {
                $("#li1").children().css("background", "#97C65E");
                $("#b span").attr('style', "display:none")
            }
        })
    </script>

    <body>
        <a href="" id="head"></a>
        <div id="a">
            <ul>
                <li id="li1">
                    <input type="button" class="canButton" value="创建" name="head1" onclick="jump('Create')">
                </li>
                <li id="li2">
                    <input type="button" class="canButton" value="管理" name="head2" onclick="jump('Control')">
                </li>
            </ul>
        </div>
        <div>
            <table width="50%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td>部门名字</td>
                    <td>
                        <input type="text" name="managerName" id="managerName">
                    </td>
                </tr>
            </table>
            <input type="button" value="创建" class="canButton" onclick="createDep()">
        </div>
    </body>

</html>